@model IEnumerable<CEDBCN_MonitorIT.Models.Estado_Robot>

@*@{
    ViewData["Title"] = "Estado Robots";
}*@

<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Aquí se mostrará el Estado de los Robots.</p>

<br />
<h3><b><u>ROBOTS APERTURAS:</u></b></h3>

<main class="grid jumbotron">
    @foreach (var robot in Model)
    {
        @*@if (robot.ErroresDia == 0)
            {
                <article class="alert-success">
            }
            else
            {
                <article class="alert-danger">
            }*@
        @if (robot.Nombre.Contains("OCASO"))
        {
            continue;
        }
        @if (robot.TipoRobot == "PLATAFORMAS")
        {
            continue;
        }
        <article>
            @{string nombreImagen = @robot.Nombre + ".png";}
            <img src="~/images/img_robots/@nombreImagen" class="img-responsive" alt=@robot.Nombre height="20px">
            @*<img src="~/images/img_robots/Allianz.png" alt="Sample photo">*@
            <div class="text">
                @{string nombreRobot = @robot.Nombre;}

                @*<h3 class="alert-success bertran-col-head">
                            @nombreRobot
                        </h3>

                        <h3 class="alert-danger bertran-col-head">
                            @nombreRobot
                    </h3>*@

                <h4>
                    @if (nombreRobot.Length > 9 && (!robot.Nombre.Contains("ALLIANZ") && !robot.Nombre.Contains("FENIX") && !robot.Nombre.Contains("HELVETIA")))
                    {
                        nombreRobot = nombreRobot.Substring(0, 9) + ".";
                    }
                    else
                    {
                        @if (robot.Nombre.Contains("ALLIANZ") || robot.Nombre.Contains("FENIX") || robot.Nombre.Contains("HELVETIA"))
                        {
                            @if (robot.Nombre.Contains("ALLIANZ"))
                            {
                                nombreRobot = "ALLIANZ";
                            }
                            else if (robot.Nombre.Contains("FENIX"))
                            {
                                nombreRobot = "FENIX";
                            }
                            else
                            {
                                nombreRobot = "HELVETIA";
                            }
                        }
                    }
                    @nombreRobot
                </h4>
                <p>
                    Robot Padre: @robot.RobotPadre
                </p>

                @if (robot.ErroresDia == 0 && robot.Estado == "EN EJECUCION")
                {
                    <h4 class="alert-success bertran-col-head">
                        Estado: @robot.Estado
                    </h4>
                }
                else
                {
                    @if (robot.ErroresDia == 0 && (robot.Estado == "EN ESPERA" || robot.Estado == "SOLO_PDTES"))
                    {
                        <h4 class="alert-warning bertran-col-head">
                            Estado: @robot.Estado
                        </h4>
                    }
                    else
                    {
                        <h4 class="alert-danger bertran-col-head">
                            Estado: @robot.Estado
                        </h4>
                    }
                }

                <p>
                    Ultima Actualización: @robot.F_UltimaActualizacion
                </p>

                <p>
                    Errores Dia: @robot.ErroresDia
                </p>

                <p>
                    Errores Corregidos: @robot.ErroresCorregidos
                </p>


                @if (!robot.Nombre.Contains("_PLAT"))
                {
                    <p>
                        Total Aperturas: @robot.TotalAP_PLAT
                    </p>
                }
                else
                {
                    <p>
                        Total Plataformas: @robot.TotalAP_PLAT
                    </p>
                }

                <p>
                    Total Ejecuciones: @robot.TotalEjecuciones
                </p>
                <button>Ver Detalle</button>
            </div>
        </article>
    }
</main>



<div>
    <p><br /></p>
    <h3><b><u>ROBOTS PLATAFORMAS:</u></b></h3>
</div>
<main class="grid col-md2 jumbotron">
    @foreach (var robot in Model)
    {
        @if (robot.Nombre.Contains("OCASO"))
        {
            continue;
        }
        @if (robot.TipoRobot == "APERTURAS")
        {
            continue;
        }
        <article>
            @{string nombreImagen = @robot.Nombre + ".png";}
            <img src="~/images/img_robots/@nombreImagen" class="img-responsive" alt=@robot.Nombre height="20px">
        <div class="text">
            @{string nombreRobot = @robot.Nombre;}

            <h4>
                @if (nombreRobot.Length > 9 && (!robot.Nombre.Contains("ALLIANZ") && !robot.Nombre.Contains("FENIX") && !robot.Nombre.Contains("HELVETIA")))
                {
                    nombreRobot = nombreRobot.Substring(0, 9) + ".";
                }
                else
                {
                    @if (robot.Nombre.Contains("ALLIANZ") || robot.Nombre.Contains("FENIX") || robot.Nombre.Contains("HELVETIA"))
                    {
                        @if (robot.Nombre.Contains("ALLIANZ"))
                        {
                            nombreRobot = "ALLIANZ";
                        }
                        else if (robot.Nombre.Contains("FENIX"))
                        {
                            nombreRobot = "FENIX";
                        }
                        else
                        {
                            nombreRobot = "HELVETIA";
                        }
                    }
                }
                @nombreRobot
            </h4>
            <p>
                Robot Padre: @robot.RobotPadre
            </p>

            @if (robot.ErroresDia == 0 && robot.Estado == "EN_EJECUCION")
            {
                <h4 class="alert-success bertran-col-head">
                    Estado: @robot.Estado
                </h4>
            }
            else
            {
                @if (robot.ErroresDia == 0 && (robot.Estado == "ESPERA" || robot.Estado == "SOLO_PDTES"))
                {
                    <h4 class="alert-warning bertran-col-head">
                        Estado: @robot.Estado
                    </h4>
                }
                else
                {
                    <h4 class="alert-danger bertran-col-head">
                        Estado: @robot.Estado
                    </h4>
                }
            }

            <p>
                Ultima Actualización: @robot.F_UltimaActualizacion
            </p>

            <p>
                Errores Dia: @robot.ErroresDia
            </p>

            <p>
                Errores Corregidos: @robot.ErroresCorregidos
            </p>


            @if (!robot.Nombre.Contains("_PLAT"))
            {
                <p>
                    Total Aperturas: @robot.TotalAP_PLAT
                </p>
            }
            else
            {
                <p>
                    Total Plataformas: @robot.TotalAP_PLAT
                </p>
            }

            <p>
                Total Ejecuciones: @robot.TotalEjecuciones
            </p>
            <button>Ver Detalle</button>
        </div>
        </article>
    }
</main>